# Bootstrap
app/bootstrap*

# External dependencies
vendor
# Symfony directories
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
composer.phar

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
src/config/*
!src/config/config.sample.yml
octopush.sublime-project*

# phpunit reports
build/*
