<!-- web/templates/job.html start -->
<tr class="job">
    <td class="id"><small data-id ></small></td>
    <td class="module"><small data-target-module ></small></td>
    <td class="version"><small data-target-version ></small></td>
    <td class="status"><span class="label">
        <small data-status ></small>
    </span></td>
    <td class="queue-date"><small data-queue data-toggle="tooltip" data-queued-date ></small></td>
    <td><small data-update data-toggle="tooltip" data-updated-date ></small></td>
    <td class="text-center user">
        <small>
            <p data-user data-toggle="tooltip">@</p>
        </small>
    </td>
    <td class="text-center ticket">
        <small>
            <a data-ticket class="ticket" href="" target="_blank" title="" data-toggle="tooltip"><i class="fa fa-ticket"></i></a>
        </small>
    </td>
    <td class="actions">
        <small>
            <a data-jenkins href="" target="_blank" title="view trigger job" data-toggle="tooltip" data-placement="top">
                <span class="glyphicon glyphicon-log-in"></span>
            </a>
            <a data-deployment href="" target="_blank" title="view deployment job" data-toggle="tooltip" data-placement="top">
                <span class="glyphicon glyphicon-log-out" />
            </a>
            <a data-test-job href="" target="_blank" title="view test job" data-toggle="tooltip" data-placement="top">
                <span class="glyphicon glyphicon-ok" />
            </a>
            <a data-live-job href="" target="_blank" title="view live job" data-toggle="tooltip" data-placement="top">
                <span class="glyphicon glyphicon-new-window" />
            </a>
            <a data-go-live class="go-live" data-job-go-live data-job-id="" data-job-targetModule="" data-job-targetVersion="" href="#" title="go live" data-toggle="tooltip" data-placement="top">
                <i class='glyphicon glyphicon-new-window'></i>
            </a>
            <a data-redeploy class="redeploy" data-job-redeploy data-job-id="" data-job-targetModule="" data-job-targetVersion="" href="#" title="re-deploy" data-toggle="tooltip" data-placement="top">
                <i class="glyphicon glyphicon-repeat" ></i>
            </a>
            <a data-remove class="remove" data-job-remove data-job-id="" data-job-targetModule="" data-job-targetVersion="" href="#" title="remove" data-toggle="tooltip" data-placement="top">
                <i class="glyphicon glyphicon-remove" ></i>
            </a>
        </small>
    </td>
</tr>
<!-- web/templates/job.html end -->
