<!-- web/templates/job.html start -->
<div class="panel panel-default box-layout job">
    <div class="panel-heading">
        <span class="id">Id: <span data-id ></span></span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-6">
                <span class="module">Module: <span data-target-module ></span></span>
            </div>
            <div class="col-xs-6">
                <span class="version">Version: <span data-target-version ></span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="status label">Status: <span data-status ></span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <span class="queue-date">Queued Date: <span data-queued-date ></span></span>
            </div>
            <div class="col-md-6">
                <span>Last Date: <span data-updated-date ></span></span>
            </div>
        </div>       
    </div>
    <div class="panel-footer actions">
        <small>
            <a data-jenkins href="" target="_blank" title="view trigger job" data-toggle="tooltip" data-placement="top">
                <span class="glyphicon glyphicon-log-in"></span>
            </a>
            <a data-deployment href="" target="_blank" title="view deployment job" data-toggle="tooltip" data-placement="top">
                <span class="glyphicon glyphicon-log-out" />
            </a>
            <a data-test-job href="" target="_blank" title="view test job" data-toggle="tooltip" data-placement="top">
                <span class="glyphicon glyphicon-ok" />
            </a>
            <a data-live-job href="" target="_blank" title="view live job" data-toggle="tooltip" data-placement="top">
                <span class="glyphicon glyphicon-new-window" />
            </a>
            <a data-go-live class="go-live" data-job-go-live data-job-id="" data-job-targetModule="" data-job-targetVersion="" href="#" title="go live" data-toggle="tooltip" data-placement="top">
                <i class='glyphicon glyphicon-new-window'></i>
            </a>
            <a data-redeploy class="redeploy" data-job-redeploy data-job-id="" data-job-targetModule="" data-job-targetVersion="" href="#" title="re-deploy" data-toggle="tooltip" data-placement="top">
                <i class="glyphicon glyphicon-repeat" ></i>
            </a>
            <a data-remove class="remove" data-job-remove data-job-id="" data-job-targetModule="" data-job-targetVersion="" href="#" title="remove" data-toggle="tooltip" data-placement="top">
                <i class="glyphicon glyphicon-remove" ></i>
            </a>
        </small>
        <small>
            <span class="email"><span data-user data-toggle="tooltip">@</span></span>
            <span><a data-ticket class="ticket" href="" target="_blank" title="" data-toggle="tooltip"><i class="fa fa-ticket"></i></span>
        </small>
    </div>
</div>
<!-- web/templates/job.html end -->
