<!-- web/templates/repo.html start -->
<tr class="repo">
    <td class="repo-name"><small><a data-repo target="_blank"></a></small></td>
    <td class="repo-testing"><small><a data-testing target="_blank"></a></small><small data-testing-time></small></td>
    <td class="repo-staging"><small><a data-staging target="_blank"></a></small><small data-staging-time></small></td>
    <td class="repo-production"><small><a data-production target="_blank"></a></small><small data-production-time></small></td>

    <td class="text-center ticket">
        <small>
            <a data-ticket class="ticket" href="" target="_blank" title="" data-toggle="tooltip"><i class="fa fa-ticket"></i></a>
        </small>
    </td>
    <td class="actions">
        <small>
            <a data-rollback class="rollback" data-repo-rollback data-job-id="" data-job-targetModule="" data-job-targetVersion="" href="#" title="rollback" data-toggle="tooltip" data-placement="top">
                <i class="glyphicon glyphicon-repeat" ></i>
            </a>
        </small>
    </td>
</tr>
<!-- web/templates/repo.html end -->
