<!-- web/templates/repo.html start -->
<div class="repo">
    <div class="repo-name"><small data-repo ></small></div>
    <div class="repo-testing"><small data-testing ></small></div>
    <div class="repo-staging"><small data-staging ></small></div>
    <div class="repo-production"><small data-production ></small></div>
    <div class="text-center ticket">
        <small>
            <a data-ticket class="ticket" href="" target="_blank" title="" data-toggle="tooltip"><i class="fa fa-ticket"></i></a>
        </small>
    </div>
    <div class="actions">
        <small>
            <a data-rollback class="rollback" data-repo-rollback data-job-id="" data-job-targetModule="" data-job-targetVersion="" href="#" title="rollback" data-toggle="tooltip" data-placement="top">
                <i class="glyphicon glyphicon-repeat" ></i>
            </a>
        </small>
    </div>
</div>
<!-- web/templates/repo.html end -->
