<div class="page-header">
    <img src="/images/logo.png" />
    <small>v{{ version }}</small>
    {% if userdata %}
        <div class="loginBox">
            <div class="userBox">
                Hello {{ userdata.user.username }}
                {% if userdata.is_admin_user %}
                    (admin)
                {% endif %}
                | <a href="{{ logoutUrl }}">Logout</a>
            </div>
            {# Filters #}
            <div class="input-group filters">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-filter"></span>
                    <span class="text">Filter...</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="/">None</a></li>
                    <li class="divider"></li>
                    <li><a href="/" id="my-components" name="{{ my_components ? my_components : 'btn-off' }}">My Components</a></li>
                    <li class="divider"></li>
                    <li><a href="/?repo=abl" name="abl">abl</a></li>
                    <li><a href="/?repo=billing" name="billing">billing</a></li>
                    <li><a href="/?repo=crm-brazil" name="crm-brazil">crm-brazil</a></li>
                    <li><a href="/?repo=crm-default" name="crm-default">crm-default</a></li>
                    <li><a href="/?repo=crm-emerging" name="crm-emerging">crm-emerging</a></li>
                    <li><a href="/?repo=crm-india" name="crm-india">crm-india</a></li>
                    <li><a href="/?repo=crm-localized-renderer" name="crm-localized-renderer">crm-localized-renderer</a></li>
                    <li><a href="/?repo=crm-southafrica" name="crm-southafrica">crm-southafrica</a></li>
                    <li><a href="/?repo=frontend-brasil" name="frontend-brasil">frontend-brasil</a></li>
                    <li><a href="/?repo=frontend-default" name="frontend-default">frontend-default</a></li>
                    <li><a href="/?repo=frontend-emerging" name="frontend-emerging">frontend-emerging</a></li>
                    <li><a href="/?repo=frontend-india" name="frontend-india">frontend-india</a></li>
                    <li><a href="/?repo=frontend-olx" name="frontend-olx">frontend-olx</a></li>
                    <li><a href="/?repo=frontend-southafrica" name="frontend-southafrica">frontend-southafrica</a></li>
                    <li><a href="/?repo=mobile-web-dynamic" name="mobile-web-dynamic">mobile-web-dynamic</a></li>
                    <li><a href="/?repo=mobile-web-static" name="mobile-web-static">mobile-web-static</a></li>
                    <li><a href="/?repo=pannello" name="pannello">pannello</a></li>
                    <li><a href="/?repo=sal" name="sal">sal</a></li>
                    <li><a href="/?repo=smaug" name="smaug">smaug</a></li>
                    <li><a href="/?repo=smaug-translations" name="smaug-translations">smaug-translations</a></li>
                    <li><a href="/?repo=web-generic" name="web-generic">web-generic</a></li>
                    <li><a href="/?repo=web-home" name="web-home">web-home</a></li>
                    <li><a href="/?repo=web-item" name="web-item">web-item</a></li>
                    <li><a href="/?repo=web-listing" name="web-listing">web-listing</a></li>
                    <li><a href="/?repo=web-myolx" name="web-myolx">web-myolx</a></li>
                    <li><a href="/?repo=web-posting" name="web-posting">web-posting</a></li>
                    <li><a href="/?repo=web-sitemap" name="web-sitemap">web-sitemap</a></li>
                    <li><a href="/?repo=test" name="test">test</a></li>
                </ul>
            </div>

            {#<button type="button" class="btn {{ my_components ? my_components : 'btn-off' }}" id="my-components">
              <span class="glyphicon glyphicon-filter"></span> My Components
            </button>#}
        </div>                   
    {% else %}
        <span class="loginBox" style="width: 180px;">
            <a class="btn btn-block btn-social btn-github" href="/login"><i class="fa fa-github"></i>Sign in with GitHub</a>
        </span>
    {% endif %}
</div>
