<!DOCTYPE html>
<html>
    <head profile="http://www.w3.org/2005/10/profile">
        <link rel="icon" 
              type="image/png" 
              href="/images/favicon.png" />
        <title>Octopush</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {# Bootstrap #}
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="css/font-awesome.css" rel="stylesheet" media="screen" />
        <link href="css/bootstrap-social.css" rel="stylesheet" media="screen" />
        <link href="css/octopush.css" rel="stylesheet" media="screen" />
    </head>
    <body>
        <div class="container">
            {% include "header.html" %}
            {# if isPaused #}
            <div id="paused" class="bs-callout bs-callout-warning" style="display:none">
                <h4>Octopush service is Paused right now due to a current incident</h4>
                <p>Please contact {{ contact }}.</p>
            </div>

            <h3>Pre-Production</h3>
            <div id="preprod">
                <div id="preprod-queued">
                    <h4>Queue <span class="glyphicon glyphicon-sort-by-attributes"></span></h4>
                    {#if queued_jobs is empty #}
                    <div class="queued-empty alert alert-info" style="display:none"><strong>EMPTY!</strong> No pending jobs</div>
                    {#if queued_jobs #}
                    <table class="queued table table-striped table-condensed table-hover" style="display:none">
                        <thead class="preprod-head"></thead>
                        <tbody class="pre-queue"></tbody>
                    </table>
                </div>

                <div id="preprod-inprogress" style="display:none">
                    {#{% if in_progress_jobs != false %}#}
                    <h4>In Progress <span class="glyphicon glyphicon-cloud-upload"></span></h4>
                    {# if in_progress_jobs #}
                    <table class="inprogress table table-striped table-condensed table-hover">
                        <thead class="preprod-head"></thead>
                        <tbody class="pre-in-progress"></tbody>
                    </table>
                </div>

                <div id="preprod-processed">
                    <h4>Deployed <span class="glyphicon glyphicon-sort-by-attributes-alt"></h4>
                    {# if processed_jobs is empty #}
                    <div class="processed-empty alert alert-info" style="display:none"><strong>EMPTY!</strong> No processed jobs</div>
                    {#if processed_jobs #}
                    <table class="processed table table-striped table-condensed table-hover" style="display:none">
                        <thead class="preprod-head"></thead>
                        <tbody class="pre-deployed"></tbody>
                    </table>
                </div>
            </div>

            <h3>Production</h3>
            <div id="prod">
                <div id="prod-queued">
                    <h4>Queue <span class="glyphicon glyphicon-sort-by-attributes"></span></h4>
                    {# if liveQueue is empty #}
                    <div class="queued-empty alert alert-info" style="display:none"><strong>EMPTY!</strong> No pending jobs</div>
                    {#if liveQueue #}
                    <table class="queued table table-striped table-condensed table-hover" style="display:none">
                        <thead class="prod-head"></thead>
                        <tbody class="prod-queue"></tbody>
                    </table>
                </div>

                <div id="prod-inprogress" style="display:none">
                    {#{% if liveInProgress != false %}#}
                    <h4>In Progress <span class="glyphicon glyphicon-cloud-upload"></span></h4>
                    {#if liveInProgress #}
                    <table class="inprogress table table-striped table-condensed table-hover" style="display:none">
                        <thead class="prod-head"></thead>
                        <tbody class="prod-in-progress"></tbody>
                    </table>
                </div>

                <div id="prod-processed">
                    <h4>Deployed <span class="glyphicon glyphicon-sort-by-attributes-alt"></h4>
                    {# if liveProcessed is empty #}
                    <div class="processed-empty alert alert-info" style="display:none"><strong>EMPTY!</strong> No processed jobs</div>
                    {#if liveProcessed #}
                    <table class="processed table table-striped table-condensed table-hover" style="display:none">
                        <thead class="prod-head"></thead>
                        <tbody class="prod-deployed"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="resources" style="display:none"></div>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jobsTemplates.js"></script>
        <script src="js/loader.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>
