<!DOCTYPE html>
<html>
    <head profile="http://www.w3.org/2005/10/profile">
        <link rel="icon" 
              type="image/png" 
              href="/images/favicon.png" />
        <title>Octopush</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {# Bootstrap #}
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="css/font-awesome.css" rel="stylesheet" media="screen" />
        <link href="css/bootstrap-social.css" rel="stylesheet" media="screen" />
        <link href="css/octopush.css" rel="stylesheet" media="screen" />
        <!--  src/Views/index.html -->
    </head>
    <body>

        <div class="page-header">
            {% include "templates/header.html" %}
            <div class="versions">
                <table class="table table-striped table-condensed repos">
                    <thead>
                        {% include "templates/versionsHead.html" %}
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div id="versions-resources" style="display:none"></div>
        </div>
        
        <div class="container">          
            {# if isPaused #}
            <div id="paused" class="bs-callout bs-callout-warning" style="display:none">
                <h4>Octopush service is Paused right now due to a current incident</h4>
                <p>Please contact {{ contact }}.</p>
            </div>
           <div class="panel panel-default">
                <div class="panel panel-heading">
                    <h3>Pre-Production</h3>
                </div>
                <div class="panel panel-body">
                    <div id="preprod">
                        <div id="preprod-queued">
                            <h4>Queue <span class="glyphicon glyphicon-sort-by-attributes"></span></h4>
                            {#if queued_jobs is empty #}
                            <div class="queued-empty alert alert-info" style="display:none"><strong>EMPTY!</strong> No pending jobs</div>
                            {#if queued_jobs #}                    
                            <div class="queued" style="display:none" >
                                <div>
                                    <div class="pre-queue"></div>
                                </div>
                            </div>
                        </div>
                        <div id="preprod-inprogress" style="display:none">
                            {#{% if in_progress_jobs != false %}#}
                            <h4>In Progress <span class="glyphicon glyphicon-cloud-upload"></span></h4>
                            {# if in_progress_jobs #}
                            <div>
                                <div class="inprogress">
                                    <div class="pre-in-progress"></div>
                                </div>
                            </div>
                        </div>
                        <div id="preprod-processed">
                            <h4>Deployed <span class="glyphicon glyphicon-sort-by-attributes-alt"></h4>
                            <div>
                                {# if processed_jobs is empty #}
                                <div class="processed-empty alert alert-info" style="display:none"><strong>EMPTY!</strong> No processed jobs</div>
                                {#if processed_jobs #}
                                <div class="processed" style="display:none">
                                    <div class="pre-deployed"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <h3>Production</h3>
                </div>
                <div class="panel panel-body">
                    <div id="prod">
                        <div id="prod-queued">
                            <h4>Queue <span class="glyphicon glyphicon-sort-by-attributes"></span></h4>
                            {# if liveQueue is empty #}
                            <div class="queued-empty alert alert-info" style="display:none"><strong>EMPTY!</strong> No pending jobs</div>
                            {#if liveQueue #}
                            <div class="queued" style="display:none">
                                <div>
                                    <div class="prod-head">
                                        {% include "templates/prodHead.html" %}
                                    </div>
                                    <div class="prod-queue"></div>
                                </div>
                            </div>
                        </div>
                        <div id="prod-inprogress" style="display:none">
                            {#{% if liveInProgress != false %}#}
                            <h4>In Progress <span class="glyphicon glyphicon-cloud-upload"></span></h4>
                            {#if liveInProgress #}
                            <div>
                                <div class="inprogress" style="display:none">
                                    <div class="prod-in-progress"></div>
                                </div>
                            </div>
                        </div>
                        <div id="prod-processed">
                            <h4>Deployed <span class="glyphicon glyphicon-sort-by-attributes-alt"></h4>
                            <div>
                                {# if liveProcessed is empty #}
                                <div class="processed-empty alert alert-info" style="display:none"><strong>EMPTY!</strong> No processed jobs</div>
                                {#if liveProcessed #}
                                <div class="processed" style="display:none">
                                    <div class="prod-deployed"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="resources" style="display:none"></div>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/fillTemplates.js"></script>
        <script src="js/loaderVersions.js"></script>
        <script src="js/loader.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>
