<!DOCTYPE html>
<html>
    <head profile="http://www.w3.org/2005/10/profile">
        <link rel="icon" 
              type="image/png" 
              href="/images/favicon.png" />
        <title>Octopush</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {# Bootstrap #}
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />
        <link href="css/font-awesome.css" rel="stylesheet" media="screen" />
        <link href="css/bootstrap-social.css" rel="stylesheet" media="screen" />
        <link href="css/octopush.css" rel="stylesheet" media="screen" />
    </head>
    <body>

        <div class="container versions">
            {% include "templates/header.html" %}
            {# if isPaused #}
            {#<div id="paused" class="bs-callout bs-callout-warning" style="display:none">
                <h4>Octopush service is Paused right now due to a current incident</h4>
                <p>Please contact {{ contact }}.</p>
            </div>#}

            {% include "templates/tabs.html" with {"page":"versions"} %}

            <div class="table-responsive">
                <div class="repos">
                </div>
            </div>
        </div>
        <div id="resources" style="display:none"></div>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/fillTemplates.js"></script>
        <script src="js/loaderVersions.js"></script>
    </body>
</html>