.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}
.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}
.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}

.bs-callout-danger h4 {
    color: #B94A48;
}

.bs-callout-warning h4 {
    color: #C09853;
}

.bs-callout-info h4 {
    color: #3A87AD;
}

.module-column {
  width: 150px;
}

.status-column {
  width: 120px;
}
.user-column {
  text-align: center;
  width: 70px
}
.ticket-column {
  text-align: center;
  width: 82px
}
.actions-column {
  width: 200px  
}

.label-DEPLOYING {
  background-color: orange;
}

.label-PENDING_TESTS {
  background-color: orange;
}

.label-TESTS_PASSED {
  background-color: #5cb85c;
}

.label-DEPLOY_FAILED {
  background-color: red;
}

.label-TESTS_FAILED {
  background-color: red;
}

.label-QUEUED {
  background-color: silver;
}

.label-QUEUED_FOR_LIVE {
  background-color: orange;
}

.label-GOING_LIVE {
  background-color: orange;
}

.label-GO_LIVE_FAILED {
  background-color: red;
}

.label-GO_LIVE_DONE {
  background-color: #5cb85c;
}

.glyphicon {
  padding: 2px 5px 5px;
}

.loginBox {
  float:right;
}

.userBox{
  text-align: center
}

.btn {
  float: right;
  margin-top: 10px;
  outline: 0 
}

.btn-on {
  background-color: #428bca;
  box-shadow: 1px 1px 1px 1px #426d94 inset;
  color: #d9edf7;
}

.btn-off {
  background-color: #d9edf7;
  box-shadow: 1px 1px 1px 1px #93c4ce;
  color: #3a87ad
}

.btn-on:hover,
.btn-on:focus {
  color: #d9edf7;
  outline: 0 
}

.btn-on:active {
  box-shadow: 1px 2px 3px 2px #426d94 inset
}

.btn-off:hover,
.btn-off:focus {
  color: #3a87ad;
  outline: 0 
}

.btn-off:active {
  box-shadow: 1px 1px 1px 0 #93c4ce;
}

.job .user p {
  color: #428bca;
  cursor: pointer;
  display: none
}
.job .user p:hover {
  color: #2a6496
}
.job .actions a,
.job .ticket a {
  display: none;
  outline: 0;
  text-decoration: none
}
.job .actions a:hover,
.job .ticket a:hover {
  text-decoration: none
}