.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
}
.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}
.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}
.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}
.bs-callout-danger h4 {
    color: #B94A48;
}
.bs-callout-warning h4 {
    color: #C09853;
}
.bs-callout-info h4 {
    color: #3A87AD;
}

/* header */
.glyphicon {
  padding: 2px 5px 5px;
}
.loginBox {
  float:right
}
.userBox{
  text-align: right
}

/* filters */
.filters {
  float: right
}
.filters button {
  margin-top: 10px;
  width: 205px
}
.filters button,
.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active, 
.open .dropdown-toggle.btn-default {
  background-color: #d9edf7;
  color: #3a87ad
}
.btn-default .caret {
  border-top-color: #3a87ad;
  margin-left: 6px 
}
.dropdown-menu {
  max-height: 335px;
  overflow-x: hidden;
  width: 205px
}

/* container */
.container {
  box-shadow: -8px 0px 15px -6px #c5c5c5
}


/* tabs */
.tabs {
  float: left;
  padding: 141px 0 0 0px;
  margin: 12px 4px -115px -205px;
  transform: rotate(-90deg)
}
.tabs a {
  border-radius: 4px 4px 0 0;
  border: 1px solid #c5c5c5;
  border-bottom: 0 none;
  color: #888;
  display: inline-block;
  margin-bottom: -1px;
  padding: 6px 0;
  text-align: center;
  text-decoration: none;
  width: 100px
}
.tabs a:hover {
  color: #888;
  outline: none
}
.tabs .tab-on {
  background-color: #fff;
  border-bottom: 1px solid #fff
}
.tab-off {
  background-color: #c5c5c5
}

/* content jobs */
.module-column {
  width: 150px;
}
.version-column {
  width: 150px;
}
.status-column {
  width: 120px;
}
.user-column {
  text-align: center;
  width: 70px
}
.ticket-column {
  text-align: center;
  width: 82px
}
.actions-column {
  width: 200px  
}
.label-DEPLOYING        { background-color: orange }
.label-PENDING_TESTS    { background-color: orange }
.label-TESTS_PASSED     { background-color: #5cb85c }
.label-DEPLOY_FAILED    { background-color: red }
.label-TESTS_FAILED     { background-color: red }
.label-QUEUED           { background-color: silver }
.label-QUEUED_FOR_LIVE  { background-color: orange }
.label-GOING_LIVE       { background-color: orange }
.label-GO_LIVE_FAILED   { background-color: red }
.label-GO_LIVE_DONE     { background-color: #5cb85c }
.label-DEPLOYED         { background-color: #5cb85c }

.job .user p {
  color: #428bca;
  cursor: pointer;
  display: none
}
.job .user p:hover {
  color: #2a6496
}
.job .actions a,
.job .ticket a {
  display: none;
  outline: 0;
  text-decoration: none
}
.job .actions a:hover,
.job .ticket a:hover {
  text-decoration: none
}

/* content repos */
.table-responsive {
  display: inline-table;
  margin-top: 25px;
  width: 99%
}
.repo {
  height: 40px
}
.repo td {
  vertical-align: middle
}
.repo .ticket a {
  display: none;
}

/* responsive */
@media (max-width: 1040px) {
  .page-header {
    border-bottom: 0 none
  }
  .tabs {
    border-bottom: 1px solid #eee;
    float: none;
    padding: 0;
    margin: 0;
    transform: none
  }
  .container {
    box-shadow: none
  }
  .table-responsive {
    border: 0 none;
    z-index: -1
  }
  .table-responsive > .table {
    margin-bottom: 10px
  }
}

@media (max-width: 600px) {
  .userBox span {
    display: inline-block;
    max-width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top
  }
  /* row hover */
  .table-hover > tbody > tr:hover > td {
    background-color: #eee
  }
}

@media (max-width: 450px) {
  /* header */
  .page-header img {
    width: 150px
  }
  .page-header small {
    display: none
  }
  .userBox span {
    max-width: 125px
  }
  .dropdown-menu {
    max-height: 205px;
  }

  /* content */
  .queue-date {
    display: none
  }

  /* jobs */
  .row-DEPLOYING        { background-color: orange !important }
  .row-PENDING_TESTS    { background-color: orange !important }
  .row-TESTS_PASSED     { background-color: #5cb85c !important }
  .row-DEPLOY_FAILED    { background-color: red !important }
  .row-TESTS_FAILED     { background-color: red !important }
  .row-QUEUED           { background-color: silver !important }
  .row-QUEUED_FOR_LIVE  { background-color: orange !important }
  .row-GOING_LIVE       { background-color: orange !important }
  .row-GO_LIVE_FAILED   { background-color: red !important }
  .row-GO_LIVE_DONE     { background-color: #5cb85c !important }

  .table-responsive .table .job > td { white-space: normal }
  .table-responsive .table .job .actions { white-space: nowrap }
  .status-column,
  .job .status {
    display: none
  }
  /*.job .status { text-align: center }*/
  .job .label { padding: .2em .9em .3em }
  .job .label small { display: none }

  .job .user p {
    font-size: 18px;
    font-weight: bold
  }
  .job .ticket a,
  .job .actions a {
    font-size: 18px
  }
}

@media (max-width: 400px) {
  /* header */
  .page-header img {
    width: 100px
  }
  .filters button,
  .filters ul {
    width: 180px
  }
}